<a class="signed_up">Already Signed Up? Enter Your Email</a>

<%= form_for(User.new, remote: true, :html => {'parsley-validate' => '', id: 'new_user'}) do |f| %>
  <%= f.hidden_field :prize_id, value: @prize.id %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label></label>
        <%= f.text_field :first_name, autofocus: true, class: 'form-control',
          placeholder: 'First Name', :required => true, :data => {'parsley-trigger'=>"input"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label></label>
        <%= f.text_field :last_name, autofocus: true, class: 'form-control',
          placeholder: 'Last Name', :required => true, :data => {'parsley-trigger'=>"input"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label></label>
    <%= f.email_field :email, autocomplete: "email", class: 'form-control',
      placeholder: 'Email', :required => true, :data => {'parsley-type' => "email", 'parsley-trigger'=>"input"} %>
  </div>

  <div class="form-group">
  <label></label>
    <%= f.text_field :phone, class: 'form-control',
      placeholder: 'Phone Number', :required => true, :data => {'parsley-trigger'=>"input"} %>
  </div>

  <div class="form-group">
  <label></label>
    <%= f.text_field :address, class: 'form-control',
      placeholder: 'Mailing Address', :required => true, :data => {'parsley-trigger'=>"input"} %>
  </div>

  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="confirm">
    <label class="custom-control-label" for="confirm">I am at least 18 years of age.</label>
  </div>

  <div class="custom-control custom-checkbox">
    <%= f.check_box :remember_me, class: 'custom-control-input' %>
    <label class="custom-control-label" for="confirm">Remember Me</label>
  </div>

  <div class="actions">
    <%= f.submit "ENTER RAFFLE", class: 'btn button btn-block mt-4 enter-raffle', disabled: true %>
  </div>
<% end %>