<h4><a class="signed_up">Already Signed Up? Enter Your Email</a></h4>

<%= form_for(User.new, remote: true, :html => {'parsley-validate' => '', id: 'login-search', class: 'mb-2'}) do |f| %>
  <div class="col-md-6 offset-md-3 col-12 text-left border_box">
    <%= f.hidden_field :prize_id, value: @prize.id %>
    <div class="form row g-3 mb-6">
      <div class="col-6">
        <div class="mb-3">
          <label></label>
          <%= f.text_field :first_name, class: 'form-control form-control-lg',
            placeholder: 'First Name', :required => true, :data => {'parsley-trigger'=>"input", 
            'parsley-error-message'=> "Required"} %>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label></label>
          <%= f.text_field :last_name, class: 'form-control form-control-lg',
            placeholder: 'Last Name', :required => true, :data => {'parsley-trigger'=>"input",
            'parsley-error-message'=> "Required"} %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-3">
          <%= f.text_field :phone, class: 'form-control form-control-lg',
            placeholder: 'Phone Number', :required => true, :data => {'parsley-trigger'=>"input",
            'parsley-error-message'=> "Required"} %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-3">
          <%= f.email_field :email, autocomplete: "email", class: 'form-control form-control-lg',
            placeholder: 'Email', :required => true, :data => {'parsley-type' => "email", 'parsley-trigger'=>"input",
            'parsley-required-message'=> "Required", "parsley-type-message"=>"Invalid Email"} %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-3">
          <%= f.text_field :address, class: 'form-control form-control-lg',
            placeholder: 'Mailing Address', :required => true, :data => {'parsley-trigger'=>"input",
            'parsley-error-message'=> "Required"} %>
          <small id="emailHelp" class="form-text text-muted">ex. 303 16th St Mall Ste. 100, Denver, CO 80202</small>
        </div>
      </div>
      <div class="col-md-12">
        <div>
          <input type="checkbox" id="confirm">
        </div>
        <div class="check">
          <label for="confirm">* I am at least 18 years of age.</label>
        </div>
      </div>
      <div class="col-md-12">
        <div>
          <%= f.check_box :remember_me, value: true %>
        </div>
        <div class="check">
          <label for="confirm">Remember Me</label>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit "ENTER RAFFLE", class: 'btn enter-raffle mx-auto mb-4', disabled: true %>
<% end %>