var counter = 0;
$('.finished_game').val("<%= @game.stop_game? %>");

// We need to decide about other actions
<% if @game.finished? %>
  console.log('finished');
  <% @new_game.each do |g| %>
    setAction(
      '<%= g[:id] %>', 
      '<%= g[:action] %>',
      '<%= g[:prize][:name] %>',
      '<%= g[:prize][:class_name] %>',
      '<%= g[:bot] %>',
      '<%= g[:finished] %>',
      '<%= @game.last_turn? %>',
      '<%= g[:gift] %>',
      '<%= g[:id] == @prize[:id] %>',
      true,
      true,
      "",
      "<%= g[:stolen] %>"
    )
  <% end %>
  $(".finished").html("<%= escape_javascript(render partial: 'finish_button' ) %>")
  var myModal = new bootstrap.Modal(document.getElementById('winnerModal'), {backdrop: 'static'}).show();
<% elsif @game.stop_game? %>
  console.log('stop game');
  <% @new_game.each do |g| %>
    setAction(
      '<%= g[:id] %>',
      '<%= g[:bot] && g[:finished] ? "STEAL" : (g[:bot] ? nil : (g[:finished] ? "KEEP" : "OPEN NEW GIFT")) %>',
      '<%= g[:finished] ? g[:prize][:name] : nil %>',
      '<%= g[:finished] ? g[:prize][:class_name] : g[:gift] %>',
      '<%= g[:bot] %>',
      '<%= g[:finished] %>',
      '<%= @game.last_turn? %>',
      '<%= g[:gift] %>',
      '<%= g[:id] == @prize[:id] %>',
      false,
      false,
      "<%= @game.current_user %>",
      "<%= g[:stolen] %>"
    )
  <% end %>
  $('.current_turn').html("<%= @game.current_user %>")
  $(".finished").html("<%= escape_javascript(render partial: 'my_prize' ) %>")
<% else %>
  console.log('bots turn');
  $('.gift').eq("<%= @prize[:id] %>").addClass('animate');
  <% @new_game.each_with_index do |g,i| %>
    setAction(
      '<%= g[:id] %>',
      '<%= @prize[:id] + 1 == i && !g[:finished] ? "DECIDING..." : g[:action] %>', 
      '<%= g[:finished] ? g[:prize][:name] : nil %>',
      '<%= g[:finished] ? g[:prize][:class_name] : g[:gift] %>',
      '<%= g[:bot] %>',
      '<%= g[:finished] %>',
      '<%= @game.last_turn? %>',
      '<%= g[:gift] %>',
      '<%= g[:id] == @prize[:id] %>',
      true,
      false,
      ("<%= i == 5 ? @game.current_user : '' %>"),
      "<%= g[:stolen] %>"
    )
  <% end %>
  $('.current_turn').html("<%= @game.current_user %>")
  getNextPrize();
<% end %>

async function setAction(id, name, prize, class_name, bot, finished, 
  last_turn, gift, current_turn, final_turn, all_done, current_name, stolen) {
  var action_name = "background-pattern";
  var button_player = "";

  if(bot == "false") {
    action_name = "background-green"
  } else if(name == "DECIDING..." || (last_turn == "true" && id == "0")) {
    action_name = "background-blue"
  } else if (name == "STOLEN") {
    action_name = "background-card-yellow"
  } else if(finished == "true") {
    action_name = "background-white"
  }

  if(name == "OPEN NEW GIFT" || name == "KEEP") {
    button_player = "button-player-red"
  } else if(name == "DECIDING..." || (last_turn == "true" && id == "0")) {
    button_player = "button-player-blue"
  } else if(name == "STOLEN") {
    button_player = "button-player-white"
  } else if(name == "STEAL") {
    button_player = "button-player-green"
  }

  if(last_turn == "true" ? (id != "0" && name != "STEAL" && name != "STOLEN") : (name == "OPENED")) {
    name = ""
  } else if(name == "DECIDING..." || (last_turn == "true" && id == "0" && bot == "true")) {
    name = "DECIDING<span>.</span><span>.</span><span>.</span>"
  }

  setImage(current_turn == "true", id, (final_turn && last_turn == "true" || all_done), stolen, bot).then(function() {
    current_turn == "true" ? 
      $('.gift').eq(id).hide().prop("class","gift "+class_name).fadeIn(1500) :
        $('.gift').eq(id).prop("class","gift "+class_name);
    $('.player-card').eq(id).prop("class", "player-card "+action_name)
    $('.button-player').eq(id).prop("class", "button-player "+button_player)
    $('.button-player').eq(id).find('p').html(name);
    $('.gift-name').eq(id).html(prize);
  })
}

async function setImage(current_turn, id, bot_last, stolen, bot) {
  await new Promise(function (resolve, reject) {
    resolve();
  });
}