<div class="col-12">
  <div class="card">
    <div class="card-header">
      <div class="float-left">
        CL Logo
      </div>
      <div class="float-right">
        Quit
      </div>
    </div>
    <div class="card-block card-container game">
      <input type="hidden" value="<%= @game.stop_game? %>" class="finished_game" />

      <div class="row">
        <% @new_game.each do |g| %>
          <div class="col-md-4 game-piece <%= g[:bot] ? "bot" : "player" %>">
            <h3><%= g[:name] %></h3>
            <span class="prize">
              <% if g[:finished] %>
                <%= g[:prize][:name] %>
              <% end %>
            </span>
            <div class="user-action">
              <p><%= g[:action] %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="finished text-center">
            <% if @game.stop_game? %>
              <%= render :partial => 'my_prize' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>