<div class="background-main">
  <div class="body text-center">
    <div class="row no-gutters mb-4 mt-4">
      <div class="col-12 col-md-4 offset-md-4 p-5">
        <div>
          <div class="player-card background-white text-center static-card">
            <h2 class="p-3">ENTER TO WIN...</h2>
            <div class="<%= @prize.class_name %> my_prize"></div>
            <%= image_tag "Scratch-Tickets.png", class: 'scratch-it-big' %>
            <h4 class="mt-3"><%= indefinite_articlerize @prize.name %></h4>
          </div>
        </div>
      </div>
    </div>
      <h1 class="text-center mb-6">PLAY ONCE A DAY UNTIL <strong>DECEMBER 22</strong></h1>

      <div class="text-center mb-6 prize-pattern"><%= image_tag("Prize-Pattern.png", :alt => "pixies", :class => "") %></div>

      <h1 class="text-center mb-4">You'll also be entered to win Scratch games!</h1>

      <div class="col-md-12">
        <div class="sign-up">
          <%= render :partial => 'form' %>
        </div>
        <div class="sign-in d-none">
          <%= render :partial => 'signin_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
