<div class="background-main">
  <div class="body text-center">
    <div class="row no-gutters mb-5 mt-4">
      <div class="col-12 col-md-4 offset-md-4">
        <div>
          <div class="player-card background-white text-center static-card static-prize">
            <h2 class="p-3">ENTER TO WIN...</h2>
            <div class="<%= @prize.class_name %>_ticket my_prize"></div>
            <h4 class="static-gift"><%= indefinite_articlerize @prize.name %></h4>
          </div>
        </div>
      </div>
    </div>
    <h1 class="text-center mb-6 mt-5 p-2">PLAY ONCE A DAY UNTIL <strong>DECEMBER 16</strong></h1>

    <div class="text-center mb-6 prize-pattern"><%= image_tag("Prize-Pattern.png", :alt => "pixies", :class => "") %></div>

    <h1 class="text-center mb-4 p-2">You'll also be entered to win Scratch games!</h1>

    <div class="col-md-12">
      <div class="row">
        <div class="sign-up">
          <%= render :partial => 'form' %>
        </div>
        <div class="sign-in d-none">
          <%= render :partial => 'signin_form' %>
        </div>
        <%= link_to "Need Help?", "mailto:support@whiteelephantswap.com", class: 'mt-4 mb-6 mx-auto text-center underline' %>
      </div>
    </div>
  </div>
</div>
