
$('.finished_game').val("<%= @game.stop_game? %>");

<% @new_game.each_with_index do |g,i| %>
  setAction(
    '<%= g[:id] %>',
    '<%= @prize[:id] + 1 == i && !g[:finished] ? "DECIDING..." : g[:action] %>', 
    '<%= g[:finished] ? g[:prize][:name] : nil %>',
    '<%= g[:finished] ? g[:prize][:class_name] : g[:gift] %>',
    '<%= g[:bot] %>',
    '<%= g[:finished] %>',
    '<%= @game.last_turn? %>'
  )
<% end %>

<% if @game.finished? %>
  $(".finished").html("<%= escape_javascript(render partial: 'finish_button' ) %>")
  var myModal = new bootstrap.Modal(document.getElementById('winnerModal'), {}).show();
<% else %>
  getNextPrize();
<% end %>

function setAction(id, name, prize, class_name, bot, finished, last_turn) {
  var action_name = "background-pattern";
  var button_player = "";

  if(bot == "false") {
    action_name = "background-green"
  } else if(name == "DECIDING..." || (last_turn == "true" && id == "0")) {
    action_name = "background-blue"
  } else if (name == "STOLEN") {
    action_name = "background-card-yellow"
  } else if(finished == "true") {
    action_name = "background-white"
  }

  if(name == "OPEN NEW GIFT" || name == "KEEP") {
    button_player = "button-player-red"
  } else if(name == "DECIDING..." || (last_turn == "true" && id == "0")) {
    button_player = "button-player-blue"
  } else if(name == "STOLEN") {
    button_player = "button-player-white"
  } else if(name == "STEAL") {
    button_player = "button-player-green"
  }

  if(last_turn == "true" ? (id != "0" && name != "STEAL" && name != "STOLEN") : name == "OPENED") {
    name = ""
  } else if(name == "DECIDING..." || (last_turn == "true" && id == "0" && bot == "true")) {
    name = "DECIDING<span>.</span><span>.</span><span>.</span>"
  }

  $('.player-card').eq(id).prop("class", "player-card "+action_name)
  $('.button-player').eq(id).prop("class", "button-player "+button_player)
  $('.button-player').eq(id).find('p').html(name);
  $('.gift-name').eq(id).html(prize);
  $('.gift').eq(id).prop("class","gift "+class_name);
}