<!DOCTYPE html>
<html>
  <head>
    <title>White Elephant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8G2SB3JZD1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8G2SB3JZD1');
    </script>
  </head>
  
  <body class="background-red text-center">
    <div class="header-ie">
      <div class="logo-box-ie">
        <%= image_tag("CL-Logo.png", :alt => "logo", :class => "logo-ie") %>
      </div>
    </div>
    <div class="login-screen">
      <div class="dashboard-white-elephant-logo-box">
        <div class="dashboard-white-elephant-logo">
          <%= image_tag("White-Elephant-Logo-dashboard.png", :alt => "logo", :class => "white-elephant-logo") %> 
        </div>
      </div>
    </div>
    <h1>Not Found!</h1>
    <h3>Are you sure you are supposed to be here?</h3>
    <%= link_to root_url, class: 'btn quit-btn mt-4' do %>
      <i class="" aria-hidden="true">Go Home</i>
    <% end %>
  </body>
</html>