<!DOCTYPE html>
<html>
  <head>
    <title>White Elephant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8G2SB3JZD1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8G2SB3JZD1');
    </script>
  </head>

  <body class="background-yellow">
    <div class="header">
      <div class="logo-box">
        <%= image_tag("CL-Logo.png", :alt => "logo", :class => "logo") %>
      </div>
      <div class="how-to-box">
        <%= link_to how_to_index_url, class: 'btn how-to-top-btn' do %>
          HOW TO PLAY
        <% end %>
      </div>

      <div class="white-elephant-logo-box">
        <%= image_tag("White-Elephant-Logo.png", :alt => "logo", :class => "white-elephant-logo") %>
      </div>
    </div>
    <%= yield %>
    <div class="flash_messages">
      <%= render :partial => "/shared/banners" %>
    </div>
  </body>
</html>
