<!DOCTYPE html>
<html>
  <head>
    <title>White Elephant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="background-red">
    <div class="header-ie">
      <div class="logo-box-ie">
        <%= image_tag("CL-Logo.png", :alt => "logo", :class => "logo-ie") %>
      </div>
    </div>
    <div class="content-body">
      <%= yield %>
    </div>
  </body>
</html>