<!DOCTYPE html>
<html>
  <head>
    <title>White Elephant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="background-red text-center">
    <div class="header-ie">
      <div class="logo-box-ie">
        <%= image_tag("CL-Logo.png", :alt => "logo", :class => "logo-ie") %>
      </div>
    </div>
    <div class="login-screen mb-percent">
      <div class="dashboard-white-elephant-logo-box">
        <%= image_tag("White-Elephant-Logo-dashboard.png", :alt => "logo", :class => "white-elephant-logo") %> 
      </div>
    </div>
    <%= yield %>
  </body>
</html>