<!DOCTYPE html>
<html>
  <head>
    <title>White Elephant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <div class="header">
      <div class="logo-box">
        <%= image_tag("CL-Logo.png", :alt => "cooler", :class => "logo") %>
      </div>
      <div class="float-right">
        <%= link_to dashboard_index_url, class: 'btn quit-btn' do %>
          <i class="" aria-hidden="true">Home</i>
        <% end %>
      </div>
      <div class="white-elephant-logo-box">
        <%= image_tag("White-Elephant-Logo.png", :alt => "cooler", :class => "white-elephant-logo") %>
      </div>
    </div>
  <body>
    <%= yield %>
  </body>
</html>